.expand-hidden {
    display: none;
}

.expand-item {
    border: 1px solid #888888;
    border-radius: 6px;
    margin: 0.3em 0 0.3em 0;
    padding: 0.7em;
}

.expand-item > .expand-item-arrow {
    cursor: pointer;
    display: inline;
}

.expand-item-details::selection {
    background: transparent;
}

.expand-item-details > .expand-item-loading {
    text-align: center;
}

.expand-item > .expand-item-title {
    display: inline;
    margin-left: 1em;
}

.expand-item > .expand-item-title::selection {
    background: transparent;
}

.expand-item > .expand-item-total-children {
    background-color: #f1f1f1;
    border: 1px solid #f1f1f1;
    border-radius: 50%;
    float: right;
    height: 30px;
    width: 30px;
    text-align: center;
}

.expand-item-search {
    background-color: #e2e2e2;
}

.expand-search {
    width: 45%;
}

.expand-toolbar {
    display: flex;
    flex-direction: row-reverse;
}

input.expand-search-input {
    border: 1px solid #888888;
    border-radius: 6px;
    margin-left: 1em;
    outline: none;
    padding: 0.5em;
}